; vendetta2
; Tuomo 'vendu' Venäläinen
; bidirectional bomber
dat		#-2	; backward copy offset
dat		#-1	; forward copy offset
add	#4,	-1	; increment forward offset
sub	#4,	-3	; decrement backward offset
mov	-3,	@-3	; drop DAT-bomb
mov	-5	@-5	; drop DAT-bomb
jmp		-4	; jump back to increment
