; vendetta5
; Tuomo 'vendu' Venäläinen
; based on dwarf
; silly multitasking bi-directional bomber
dat		#8	; backward copy offset
dat		#-6	; forward copy offset
sub	#13,	-2	; adjust backward copy offset
add	#13,	-2	; adjust forward copy offset
mov	-4	@-4	; backward copy DAT
mov	-4	@-4	; forward copy DAT
sub	#13,	-6	; adjust backward copy offset
add	#13	-6	; adjust forward copy offset
mov	-8,	@-8	; backward copy DAT
mov	-8,	@-8	; forward copy DAT
spl		-8	; span at first SUB
jmp		-9	; jump back to first SUB
