; vendetta
; Tuomo 'vendu' Venäläinen
; based on dwarf
; relatively aggressive and very small bomber
dat		#0	; copy offset
add	#2,	-1	; increment offset
mov	-2,	@-2	; drop DAT-bomb
jmp		-2	; jump back to increment
